:root {
  --common-family: 'Roboto', sans-serif;
  --secondary-family: 'Raleway', sans-serif;
  --brand-color: #2196f3;
  --text-color: #212121;
  --logo-color: #000000;
  --accent-color: #ffffff;
  --shadow-color: #757575;
  --head-border-color: #ececec;
  --hero-bg-color: #c4c4c4;
  --page-btn-hover: #188ce8;
  --card-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --footer-bg-color: #2f303a;
  --galery-border-color: #eeeeee;
  --services-overlay-color: rgba(47, 48, 58, 0.8);
  --portf-card-overlay-color: rgba(33, 150, 243, 0.9);
  --social-links-bg-color: rgba(255, 255, 255, 0.1);
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-input-color: rgba(255, 255, 255, 0.3);
  --footer-placeholder-color: rgba(255, 255, 255, 0.6);
  --form-border-color: rgba(33, 33, 33, 0.2);
  --form-placeholder-color: rgba(117, 117, 117, 0.5);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --common-spacing: 0.03em;
  --card-gap: 30px;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
