<footer class="footer" id="feedback">
  <div class="container footer__area">
    <div class="footer__two-thumbs">
      <div class="footer__thumb">
        <a class="logo footer__logo link" href="./index.html" lang="en"
          ><span class="logo--blue">Web</span>Studio</a
        >
        <address>
          <ul class="list">
            <li class="footer__item">
              <a
                class="footer__link link"
                href="https://goo.gl/maps/XXydakqSkCd74Hgu6"
                target="_blank"
                rel="noreferrer noopener"
              >
                г. Киев, пр-т Леси Украинки, 26
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link footer__link--grey link" href="mailto:info@example.com"
                >info@example.com
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link footer__link--grey link" href="tel:+380991111111"
                >+38 099 111 11 11
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div role="group" class="footer__thumb">
        <p class="thumb-title footer__title">Присоединяйтесь</p>
        <ul class="socials footer__socials list">
          <li class="socials__item">
            <a href="" class="socials__link socials__link--white">
              <svg class="page-icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link socials__link--white">
              <svg class="page-icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link socials__link--white">
              <svg class="page-icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="" class="socials__link socials__link--white">
              <svg class="page-icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div role="group" class="footer__invite">
      <p class="thumb-title footer__title">Подпишитесь на рассылку</p>
      <form class="footer__signupform" name="signup-form" autocomplete="on">
        <label>
          <input class="footer__input" type="email" name="email" placeholder="E-mail" required />
        </label>
        <button class="button footer__button" type="submit">
          Подписаться
          <svg class="button__icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-send"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</footer>
