<h1 class="visually-hidden">Портфолио WebStudio</h1>
<section class="portfolio section">
  <div class="container">
    <h2 class="visually-hidden">Фильтр</h2>
    <ul class="filter list">
      <li class="filter__item">
        <button class="filter__button filter__button--active" type="button">Все</button>
      </li>
      <li class="filter__item">
        <button class="filter__button" type="button">Веб-сайты</button>
      </li>
      <li class="filter__item">
        <button class="filter__button" type="button">Приложения</button>
      </li>
      <li class="filter__item">
        <button class="filter__button" type="button">Дизайн</button>
      </li>
      <li class="filter__item">
        <button class="filter__button" type="button">Маркетинг</button>
      </li>
    </ul>

    <ul class="page-grid galery list">
      <li class="galery__card">
        <a class="galery__link link" href="">
          <div class="galery__img">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port1-webp-desktop.webp    1x,
                  ./images/portfolio/port1-webp-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port1-img-desktop.jpg    1x,
                  ./images/portfolio/port1-img-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port1-webp-tablet.webp    1x,
                  ./images/portfolio/port1-webp-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port1-img-tablet.jpg    1x,
                  ./images/portfolio/port1-img-tablet@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port1-webp-mobile.webp    1x,
                  ./images/portfolio/port1-webp-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port1-img-mobile.jpg    1x,
                  ./images/portfolio/port1-img-mobile@2x.jpg 2x
                "
              />
              <img src="#" alt="Открытый ноутбук" />
            </picture>

            <p class="galery__desc">
              Технокряк это современная площадка распространения коронавируса. Компании используют
              эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.
            </p>
          </div>
          <div class="galery__thumbs">
            <h3 class="galery__title">Технокряк</h3>
            <p class="galery__subtitle">Веб-сайт</p>
          </div>
        </a>
      </li>

      <li class="galery__card">
        <a class="galery__link link" href="">
          <div class="galery__img">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port2-webp-desktop.webp    1x,
                  ./images/portfolio/port2-webp-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port2-img-desktop.jpg    1x,
                  ./images/portfolio/port2-img-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port2-webp-tablet.webp    1x,
                  ./images/portfolio/port2-webp-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port2-img-tablet.jpg    1x,
                  ./images/portfolio/port2-img-tablet@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port2-webp-mobile.webp    1x,
                  ./images/portfolio/port2-webp-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port2-img-mobile.jpg    1x,
                  ./images/portfolio/port2-img-mobile@2x.jpg 2x
                "
              />
              <img src="#" alt="Постер с баскетболистами" />
            </picture>
            <p class="galery__desc">
              Технокряк это современная площадка распространения коронавируса. Компании используют
              эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.
            </p>
          </div>
          <div class="galery__thumbs">
            <h3 class="galery__title">Постер <span lang="en"> New Orlean vs Golden Star</span></h3>
            <p class="galery__subtitle">Дизайн</p>
          </div>
        </a>
      </li>

      <li class="galery__card">
        <a class="galery__link link" href="">
          <div class="galery__img">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port3-webp-desktop.webp    1x,
                  ./images/portfolio/port3-webp-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port3-img-desktop.jpg    1x,
                  ./images/portfolio/port3-img-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port3-webp-tablet.webp    1x,
                  ./images/portfolio/port3-webp-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port3-img-tablet.jpg    1x,
                  ./images/portfolio/port3-img-tablet@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port3-webp-mobile.webp    1x,
                  ./images/portfolio/port3-webp-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port3-img-mobile.jpg    1x,
                  ./images/portfolio/port3-img-mobile@2x.jpg 2x
                "
              />
              <img src="#" alt="Логотип ресторана" />
            </picture>
            <p class="galery__desc">
              Технокряк это современная площадка распространения коронавируса. Компании используют
              эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.
            </p>
          </div>
          <div class="galery__thumbs">
            <h3 class="galery__title">Ресторан <span lang="en">Seafood</span></h3>
            <p class="galery__subtitle">Приложение</p>
          </div>
        </a>
      </li>

      <li class="galery__card">
        <a class="galery__link link" href="">
          <div class="galery__img">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port4-webp-desktop.webp    1x,
                  ./images/portfolio/port4-webp-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port4-img-desktop.jpg    1x,
                  ./images/portfolio/port4-img-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port4-webp-tablet.webp    1x,
                  ./images/portfolio/port4-webp-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port4-img-tablet.jpg    1x,
                  ./images/portfolio/port4-img-tablet@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port4-webp-mobile.webp    1x,
                  ./images/portfolio/port4-webp-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port4-img-mobile.jpg    1x,
                  ./images/portfolio/port4-img-mobile@2x.jpg 2x
                "
              />
              <img src="#" alt="Наушники" />
            </picture>
            <p class="galery__desc">
              Технокряк это современная площадка распространения коронавируса. Компании используют
              эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.
            </p>
          </div>
          <div class="galery__thumbs">
            <h3 class="galery__title">Проект <span lang="en">Prime</span></h3>
            <p class="galery__subtitle">Маркетинг</p>
          </div>
        </a>
      </li>

      <li class="galery__card">
        <a class="galery__link link" href="">
          <div class="galery__img">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port5-webp-desktop.webp    1x,
                  ./images/portfolio/port5-webp-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port5-img-desktop.jpg    1x,
                  ./images/portfolio/port5-img-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port5-webp-tablet.webp    1x,
                  ./images/portfolio/port5-webp-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port5-img-tablet.jpg    1x,
                  ./images/portfolio/port5-img-tablet@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port5-webp-mobile.webp    1x,
                  ./images/portfolio/port5-webp-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port5-img-mobile.jpg    1x,
                  ./images/portfolio/port5-img-mobile@2x.jpg 2x
                "
              />
              <img src="#" alt="Брендированные коробки" />
            </picture>
            <p class="galery__desc">
              Технокряк это современная площадка распространения коронавируса. Компании используют
              эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.
            </p>
          </div>
          <div class="galery__thumbs">
            <h3 class="galery__title">Проект <span lang="en">Boxes</span></h3>
            <p class="galery__subtitle">Приложение</p>
          </div>
        </a>
      </li>

      <li class="galery__card">
        <a class="galery__link link" href="">
          <div class="galery__img">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port6-webp-desktop.webp    1x,
                  ./images/portfolio/port6-webp-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port6-img-desktop.jpg    1x,
                  ./images/portfolio/port6-img-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port6-webp-tablet.webp    1x,
                  ./images/portfolio/port6-webp-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port6-img-tablet.jpg    1x,
                  ./images/portfolio/port6-img-tablet@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port6-webp-mobile.webp    1x,
                  ./images/portfolio/port6-webp-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port6-img-mobile.jpg    1x,
                  ./images/portfolio/port6-img-mobile@2x.jpg 2x
                "
              />
              <img src="#" alt="Монитор со звездным небом" />
            </picture>
            <p class="galery__desc">
              Технокряк это современная площадка распространения коронавируса. Компании используют
              эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.
            </p>
          </div>
          <div class="galery__thumbs">
            <h3 class="galery__title" lang="en">Inspiration has no Borders</h3>
            <p class="galery__subtitle">Веб-сайт</p>
          </div>
        </a>
      </li>

      <li class="galery__card">
        <a class="galery__link link" href="">
          <div class="galery__img">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port7-webp-desktop.webp    1x,
                  ./images/portfolio/port7-webp-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port7-img-desktop.jpg    1x,
                  ./images/portfolio/port7-img-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port7-webp-tablet.webp    1x,
                  ./images/portfolio/port7-webp-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port7-img-tablet.jpg    1x,
                  ./images/portfolio/port7-img-tablet@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port7-webp-mobile.webp    1x,
                  ./images/portfolio/port7-webp-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port7-img-mobile.jpg    1x,
                  ./images/portfolio/port7-img-mobile@2x.jpg 2x
                "
              />
              <img src="#" alt="Открытый журнал" />
            </picture>
            <p class="galery__desc">
              Технокряк это современная площадка распространения коронавируса. Компании используют
              эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.
            </p>
          </div>
          <div class="galery__thumbs">
            <h3 class="galery__title">Издание <span lang="en">Limited Edition</span></h3>
            <p class="galery__subtitle">Дизайн</p>
          </div>
        </a>
      </li>

      <li class="galery__card">
        <a class="galery__link link" href="">
          <div class="galery__img">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port8-webp-desktop.webp    1x,
                  ./images/portfolio/port8-webp-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port8-img-desktop.jpg    1x,
                  ./images/portfolio/port8-img-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port8-webp-tablet.webp    1x,
                  ./images/portfolio/port8-webp-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port8-img-tablet.jpg    1x,
                  ./images/portfolio/port8-img-tablet@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port8-webp-mobile.webp    1x,
                  ./images/portfolio/port8-webp-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port8-img-mobile.jpg    1x,
                  ./images/portfolio/port8-img-mobile@2x.jpg 2x
                "
              />
              <img src="#" alt="Бирка с логотипом" />
            </picture>
            <p class="galery__desc">
              Технокряк это современная площадка распространения коронавируса. Компании используют
              эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.
            </p>
          </div>
          <div class="galery__thumbs">
            <h3 class="galery__title">Проект <span lang="en">LAB</span></h3>
            <p class="galery__subtitle">Маркетинг</p>
          </div>
        </a>
      </li>

      <li class="galery__card">
        <a class="galery__link link" href="">
          <div class="galery__img">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port9-webp-desktop.webp    1x,
                  ./images/portfolio/port9-webp-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/portfolio/port9-img-desktop.jpg    1x,
                  ./images/portfolio/port9-img-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port9-webp-tablet.webp    1x,
                  ./images/portfolio/port9-webp-tablet@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/portfolio/port9-img-tablet.jpg    1x,
                  ./images/portfolio/port9-img-tablet@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port9-webp-mobile.webp    1x,
                  ./images/portfolio/port9-webp-mobile@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./images/portfolio/port9-img-mobile.jpg    1x,
                  ./images/portfolio/port9-img-mobile@2x.jpg 2x
                "
              />
              <img src="#" alt="Руки на ноутбуке" />
            </picture>
            <p class="galery__desc">
              Технокряк это современная площадка распространения коронавируса. Компании используют
              эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.
            </p>
          </div>
          <div class="galery__thumbs">
            <h3 class="galery__title" lang="en">Growing Business</h3>
            <p class="galery__subtitle">Приложение</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
