<section class="services section">
  <div class="container">
    <h2 class="subtitle">Чем мы занимаемся</h2>
    <ul class="page-grid list">
      <li class="services__item">
        <div class="services__card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/services/serv1-webp.webp 1x, ./images/services/serv1-webp@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/services/serv1-img.jpg 1x, ./images/services/serv1-img@2x.jpg 2x"
            />
            <img src="#" alt="Верстка сайта" />
          </picture>

          <p class="thumb-title services__desc">Десктопные приложения</p>
        </div>
      </li>

      <li class="services__item">
        <div class="services__card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/services/serv2-webp.webp 1x, ./images/services/serv2-webp@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/services/serv2-img.jpg 1x, ./images/services/serv2-img@2x.jpg 2x"
            />
            <img src="#" alt="Разработка мобильных приложений" />
          </picture>

          <p class="thumb-title services__desc">Мобильные приложения</p>
        </div>
      </li>

      <li class="services__item">
        <div class="services__card">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/services/serv3-webp.webp 1x, ./images/services/serv3-webp@2x.webp 2x"
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/services/serv3-img.jpg 1x, ./images/services/serv1-img@2x.jpg 2x"
            />
            <img src="#" alt="Веб дизайн" />
          </picture>

          <p class="thumb-title services__desc">Дизайнерские решения</p>
        </div>
      </li>
    </ul>
  </div>
</section>
