<section class="team section">
  <div class="container">
    <h2 class="subtitle">Наша команда</h2>
    <ul class="page-grid list">
      <li class="team__card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team1-webp-desktop.webp    1x,
              ./images/team/team1-webp-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team1-img-desktop.jpg    1x,
              ./images/team/team1-img-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team1-webp-tablet.webp    1x,
              ./images/team/team1-webp-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/team/team1-img-tablet.jpg 1x, ./images/team/team1-img-tablet@2x.jpg 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/team/team1-webp-mobile.webp    1x,
              ./images/team/team1-webp-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/team/team1-img-mobile.jpg 1x, ./images/team/team1-img-mobile@2x.jpg 2x"
          />
          <img src="#" alt="Фото сотрудника" />
        </picture>

        <div class="team__thumb">
          <h3 class="team__member">Игорь Демьяненко</h3>
          <p lang="en" class="team__prof">Product Designer</p>
          <ul class="socials list">
            <li class="socials__item">
              <a href="#" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team2-webp-desktop.webp    1x,
              ./images/team/team2-webp-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team2-img-desktop.jpg    1x,
              ./images/team/team2-img-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team2-webp-tablet.webp    1x,
              ./images/team/team2-webp-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/team/team2-img-tablet.jpg 1x, ./images/team/team2-img-tablet@2x.jpg 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/team/team2-webp-mobile.webp    1x,
              ./images/team/team2-webp-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/team/team2-img-mobile.jpg 1x, ./images/team/team2-img-mobile@2x.jpg 2x"
          />
          <img src="#" alt="Фото сотрудника" />
        </picture>
        <div class="team__thumb">
          <h3 class="team__member">Ольга Репина</h3>
          <p lang="en" class="team__prof">Frontend Developer</p>
          <ul class="socials list">
            <li class="socials__item">
              <a href="##" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="##" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="##" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="##" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team3-webp-desktop.webp    1x,
              ./images/team/team3-webp-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team3-img-desktop.jpg    1x,
              ./images/team/team3-img-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team3-webp-tablet.webp    1x,
              ./images/team/team3-webp-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/team/team3-img-tablet.jpg 1x, ./images/team/team3-img-tablet@2x.jpg 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/team/team3-webp-mobile.webp    1x,
              ./images/team/team3-webp-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/team/team3-img-mobile.jpg 1x, ./images/team/team3-img-mobile@2x.jpg 2x"
          />
          <img src="#" alt="Фото сотрудника" />
        </picture>
        <div class="team__thumb">
          <h3 class="team__member">Николай Тарасов</h3>
          <p lang="en" class="team__prof">Marketing</p>
          <ul class="socials list">
            <li class="socials__item">
              <a href="###" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="###" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="###" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="###" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team__card">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team4-webp-desktop.webp    1x,
              ./images/team/team4-webp-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/team4-img-desktop.jpg    1x,
              ./images/team/team4-img-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/team4-webp-tablet.webp    1x,
              ./images/team/team4-webp-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/team/team4-img-tablet.jpg 1x, ./images/team/team4-img-tablet@2x.jpg 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/team/team4-webp-mobile.webp    1x,
              ./images/team/team4-webp-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/team/team4-img-mobile.jpg 1x, ./images/team/team4-img-mobile@2x.jpg 2x"
          />
          <img src="#" alt="Фото сотрудника" />
        </picture>
        <div class="team__thumb">
          <h3 class="team__member">Михаил Ермаков</h3>
          <p lang="en" class="team__prof">UI Designer</p>
          <ul class="socials list">
            <li class="socials__item">
              <a href="#" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg> </a
              >###
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="#" class="socials__link socials__link--grey">
                <svg class="page-icon" width="20px" height="20px">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
